fastapi
uvicorn
jinja2
python-multipart
stripe
pillow
imagehash
opencv-python-headless
scikit-image
SQLAlchemy
psycopg[binary]
psycopg2-binary
boto3==1.34.0
passlib[bcrypt]
python-jose
cryptography
bcrypt==4.0.1
imageio[ffmpeg]
reportlab>=4.4.10
pypdfium2
google-cloud-vision
c2pa-python
qrcode[pil]

resend

resend

scikit-image
